h1 {
    color: red;
}

.start {
    text-align: center;
    margin-top: 50px;
    color: rgb(200, 203, 204);
    font-size: xx-large;
}

#start {
    background-color: rgb(173, 68, 68);
}

#end-screen {
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: white;
}

