body {
    background-color: tan;
}

h1 {
    color: rebeccapurple;
}

p {
    color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#time {
    font-weight: bold;
    font-size: x-large;
}

#timer {
    font-weight: bold;
    font-size: 50px;
    color: yellow;
}